* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(132, 127, 128);
}

#grid {
   display: flex;
   flex-wrap: wrap;
   width: 320px;
   background-color: white;
}

.square {
   width: 20px;
   height: 20px;
   border: 1px solid black;
}

#button {
   margin: 40px;
   background-color: rgb(29, 29, 29);
   color: white;
   border-radius: 7px;
}
