* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 20px;
}

body {
   background-color: rgb(50, 116, 50);
}

#container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 80px;
}

#btns {
   background-color: #fff;
   border: none;
   border-radius: 20px;
   height: 15rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 157px;
}

#grid {
   display: flex;
   flex-wrap: wrap;
   width: 320px;
   background-color: #fff;
   margin-top: 150px;
}

.square {
   width: 20px;
   height: 20px;
   border: 1px solid black;
}

button {
   background-color: rgb(66, 108, 54);
}

button:active {
   transform: scale(0.98);
}

#button {
   margin: 40px;
   color: white;
   border: none;
   border-radius: 7px;
   padding: 8px;
}

input[type=color] {
   background-color: transparent;
   border: none;
   width: 85px;
   height: 55px;
   border-radius: 20px;
   cursor: pointer;
}

#clear {
   margin: 40px;
   color: white;
   border: none;
   border-radius: 7px;
   padding: 8px;
}
